<div class="modal fade" id="shukanModal" tabindex="-1" role="dialog" aria-labelledby="shukanModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: shukan, remote: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="shukanModal"><%= "#{params[:action].camelize} #{shukan.model_name.human}" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if shukan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(shukan.errors.count, "error") %> prohibited this shukan from being saved:</h2>
              <ul>
                <% shukan.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>